In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

## Importing csv files to dataframes

In [2]:
beers_file = "Resources/beers.csv"
beers_df = pd.read_csv(beers_file).fillna(0).rename(columns={"Unnamed: 0":"index", "name":"beer_name"})
beers_df

,index,abv,ibu,id,beer_name,style,brewery_id,ounces
0,0,0.050,0.0,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,0.0,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,0.0,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,0.0,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,0.0,2262,Sex and Candy,American IPA,177,12.0
...,...,...,...,...,...,...,...,...
2405,2405,0.067,45.0,928,Belgorado,Belgian IPA,424,12.0
2406,2406,0.052,0.0,807,Rail Yard Ale,American Amber / Red Ale,424,12.0
2407,2407,0.055,0.0,620,B3K Black Lager,Schwarzbier,424,12.0
2408,2408,0.055,40.0,145,Silverback Pale Ale,American Pale Ale (APA),424,12.0
2409,2409,0.052,0.0,84,Rail Yard Ale (2009),American Amber / Red Ale,424,12.0

In [3]:
breweries_file = "Resources/breweries.csv"
breweries_df = pd.read_csv(breweries_file).rename(columns={"Unnamed: 0":"brewery_id", "name":"brewery_name"})
breweries_df

     brewery_id                   brewery_name           city state
0             0             NorthGate Brewing     Minneapolis    MN
1             1      Against the Grain Brewery     Louisville    KY
2             2       Jack's Abby Craft Lagers     Framingham    MA
3             3      Mike Hess Brewing Company      San Diego    CA
4             4        Fort Point Beer Company  San Francisco    CA
..          ...                            ...            ...   ...
553         553            Covington Brewhouse      Covington    LA
554         554                Dave's Brewfarm         Wilson    WI
555         555          Ukiah Brewing Company          Ukiah    CA
556         556        Butternuts Beer and Ale  Garrattsville    NY
557         557  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 4 columns]

## Windows Path

In [ ]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

## Mac Path

In [4]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

## Scraping Data from Brewers Association Website

In [5]:
url = 'https://www.brewersassociation.org/statistics-and-data/state-craft-beer-stats/'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
#                           NOT WORKING 
#State cards with data to scrape
states_cards = soup.find('section', class_='site-content wide')
states = soup.find_all('div', class_='stat-container')


#Set up lists to append into
state_list = []
million_dollars_list = []
breweries_per_capita_list = []
barrels_produced_list = []
gallons_per_adult_list = []

In [7]:
for state in states:
    state_name = state.find('h1').text.strip()
    state_list.append(state_name)
    #million dollars is the first one
    million_dollars = state.find('span', class_='total').find('span', class_='count').text.strip()
    million_dollars_list.append(million_dollars)
    breweries_per_capita = state.find('span', class_="bpc").find('span', class_= 'count').text.strip()
    breweries_per_capita_list.append(breweries_per_capita)
    #barrels produced is the second one
    barrels_produced = state.find(id ='production').find('span', class_='total').find('span', class_='count').text.strip()
    barrels_produced_list.append(barrels_produced)
    gallons_per_adult = state.find(id = 'production').find('span', class_='per-capita').find('span', class_='count').text.strip()
    gallons_per_adult_list.append(gallons_per_adult)

In [8]:
#working
state_list

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [9]:
million_dollars_list

['758',
 '326',
 '1,147',
 '838',
 '9,014',
 '3,285',
 '753',
 '388',
 '213',
 '3,625',
 '1,841',
 '291',
 '430',
 '3,251',
 '1,655',
 '1,007',
 '519',
 '795',
 '852',
 '656',
 '889',
 '2,076',
 '2,566',
 '2,118',
 '328',
 '1,268',
 '496',
 '521',
 '520',
 '452',
 '1,612',
 '354',
 '4,126',
 '2,555',
 '282',
 '3,223',
 '646',
 '2,136',
 '6,335',
 '220',
 '796',
 '231',
 '1,309',
 '5,077',
 '441',
 '362',
 '1,709',
 '1,947',
 '286',
 '2,352',
 '193']

In [10]:
#working
breweries_per_capita_list

['1.1',
 '7.8',
 '2.2',
 '1.8',
 '2.9',
 '9.2',
 '3.2',
 '3.7',
 '2.4',
 '1.7',
 '1.1',
 '1.8',
 '5',
 '2.4',
 '3.7',
 '4',
 '2.2',
 '1.8',
 '1.1',
 '11.3',
 '2.1',
 '2.9',
 '4.7',
 '4.3',
 '0.7',
 '2.4',
 '11.4',
 '3.6',
 '1.9',
 '7.6',
 '1.6',
 '5.5',
 '2.6',
 '3.7',
 '2.9',
 '3.3',
 '1.3',
 '8.8',
 '3.6',
 '3.2',
 '2.1',
 '4.4',
 '1.9',
 '1.4',
 '1.7',
 '13.5',
 '3.7',
 '6.9',
 '1.9',
 '4.3',
 '6.8']

In [11]:
#not working
barrels_produced_list

['71,894',
 '210,063',
 '173,427',
 '45,720',
 '3,421,295',
 '1,522,834',
 '213,676',
 '298,706',
 '33,857',
 '1,373,558',
 '449,485',
 '79,309',
 '90,498',
 '400,473',
 '259,005',
 '120,755',
 '47,490',
 '122,415',
 '227,096',
 '357,438',
 '294,801',
 '629,463',
 '899,792',
 '644,077',
 '31,422',
 '367,871',
 '197,167',
 '54,640',
 '71,869',
 '110,509',
 '144,283',
 '135,557',
 '1,270,157',
 '1,254,024',
 '16,378',
 '1,398,358',
 '66,133',
 '1,032,369',
 '3,719,475',
 '35,398',
 '100,242',
 '18,196',
 '184,203',
 '1,144,563',
 '193,055',
 '335,199',
 '405,465',
 '566,949',
 '18,951',
 '1,007,123',
 '58,966']

In [12]:
#grabbing breweries per capita
gallons_per_adult_list

['0.6',
 '12.1',
 '1',
 '0.6',
 '3.6',
 '11',
 '2.4',
 '12.5',
 '1.9',
 '2.6',
 '1.8',
 '2.3',
 '2.2',
 '1.3',
 '1.6',
 '1.6',
 '0.7',
 '1.1',
 '2',
 '10.5',
 '2',
 '3.7',
 '3.7',
 '4.8',
 '0.4',
 '2.5',
 '7.6',
 '1.2',
 '1',
 '3.2',
 '0.7',
 '2.7',
 '2.6',
 '5',
 '0.9',
 '4.9',
 '0.7',
 '9.9',
 '11.7',
 '1.3',
 '0.8',
 '0.9',
 '1.1',
 '1.7',
 '2.8',
 '21.3',
 '2',
 '3.1',
 '0.4',
 '7.1',
 '4.3']

In [13]:
brewers_association_data = pd.DataFrame(
    {'state': state_list,
     'millions_sales': million_dollars_list,
     'breweries_per_capita': breweries_per_capita_list,
     'barrels_produced': barrels_produced_list,
     'gallons_per_adult': gallons_per_adult_list
    })

In [14]:
brewers_association_data

,state,millions_sales,breweries_per_capita,barrels_produced,gallons_per_adult
0,Alabama,758,1.1,"71,894",0.6
1,Alaska,326,7.8,"210,063",12.1
2,Arizona,"1,147",2.2,"173,427",1
3,Arkansas,838,1.8,"45,720",0.6
4,California,"9,014",2.9,"3,421,295",3.6
5,Colorado,"3,285",9.2,"1,522,834",11
6,Connecticut,753,3.2,"213,676",2.4
7,Delaware,388,3.7,"298,706",12.5
8,District of Columbia,213,2.4,"33,857",1.9
9,Florida,"3,625",1.7,"1,373,558",2.6
10,Georgia,"1,841",1.1,"449,485",1.8
11,Hawaii,291,1.8,"79,309",2.3
12,Idaho,430,5,"90,498",2.2
13,Illinois,"3,251",2.4,"400,473",1.3
14,Indiana,"1,655",3.7,"259,005",1.6
15,Iowa,"1,007",4,"120,755",1.6
16,Kansas,519,2.2,"47,490",0.7
17,Kentucky,795,1.8,"122,415",1.1
18,Louisiana,852,1.1,"227,096",2
19,Maine,656,11.3,"357,438",10.5
20,Maryland,889,2.1,"294,801",2
21,Massachusetts,"2,076",2.9,"629,463",3.7
22,Michigan,"2,566",4.7,"899,792",3.7
23,Minnesota,"2,118",4.3,"644,077",4.8
24,Mississippi,328,0.7,"31,422",0.4
25,Missouri,"1,268",2.4,"367,871",2.5
26,Montana,496,11.4,"197,167",7.6
27,Nebraska,521,3.6,"54,640",1.2
28,Nevada,520,1.9,"71,869",1
29,New Hampshire,452,7.6,"110,509",3.2
30,New Jersey,"1,612",1.6,"144,283",0.7
31,New Mexico,354,5.5,"135,557",2.7
32,New York,"4,126",2.6,"1,270,157",2.6
33,North Carolina,"2,555",3.7,"1,254,024",5
34,North Dakota,282,2.9,"16,378",0.9
35,Ohio,"3,223",3.3,"1,398,358",4.9
36,Oklahoma,646,1.3,"66,133",0.7
37,Oregon,"2,136",8.8,"1,032,369",9.9
38,Pennsylvania,"6,335",3.6,"3,719,475",11.7
39,Rhode Island,220,3.2,"35,398",1.3
40,South Carolina,796,2.1,"100,242",0.8
41,South Dakota,231,4.4,"18,196",0.9
42,Tennessee,"1,309",1.9,"184,203",1.1
43,Texas,"5,077",1.4,"1,144,563",1.7
44,Utah,441,1.7,"193,055",2.8
45,Vermont,362,13.5,"335,199",21.3
46,Virginia,"1,709",3.7,"405,465",2
47,Washington,"1,947",6.9,"566,949",3.1
48,West Virginia,286,1.9,"18,951",0.4
49,Wisconsin,"2,352",4.3,"1,007,123",7.1
50,Wyoming,193,6.8,"58,966",4.3

## Transforming Data  (example code for what we will do later)

In [ ]:
 # Create a filtered dataframe from specific columns
#premise_cols = ["License Serial Number", "Premises Name", "County ID Code"]
#premise_transformed= premise_df[premise_cols].copy()

# Rename the column headers
#premise_transformed = premise_transformed.rename(columns={"License Serial Number": "id",
                                                          "Premises Name": "premise_name",
                                                          "County ID Code": "county_id"})

# Clean the data by dropping duplicates and setting the index
#premise_transformed.drop_duplicates("id", inplace=True)
#premise_transformed.set_index("id", inplace=True)

#premise_transformed.head()

In [ ]:
#county_cols = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
#county_transformed = county_df[county_cols].copy()

# Rename the column headers
#county_transformed = county_transformed.rename(columns={"ID": "id",
                                                         "County Name (Licensee)": "county_name",
                                                         "License Count": "license_count",
                                                         "County ID Code": "county_id"})

# Set index
#county_transformed.set_index("id", inplace=True)

#county_transformed.head()

## Connecting to postgres

In [15]:
engine = create_engine('sqlite:///Resources/brew.sqlite')
Base.metadata.create_all(engine)
session = Session(engine)

In [29]:
# Confirm tables
engine.execute('DROP TABLE IF EXISTS beers')
engine.execute('DROP TABLE IF EXISTS breweries')
beers_df.to_sql('beers', con=engine, if_exists='append', index=True)
breweries_df.to_sql('breweries', con=engine, if_exists='append', index=True)

In [53]:
combined_df = pd.DataFrame(engine.execute
                            ('SELECT r.state, COUNT(r.brewery_id), COUNT(e.beer_name), COUNT(e.style), COUNT(r.city), '\
                             'AVG(e.abv), AVG(e.ibu) FROM beers e INNER JOIN breweries r ON r.brewery_id=e.brewery_id '\
                             'GROUP BY r.state ORDER BY r.state;'))

In [54]:
# combined_df = pd.DataFrame(engine.execute('SELECT * FROM brews'))
combined_df = combined_df.rename(columns={0:"brewery_id", 1:"city", 2:"state", 3:"beer_name", 4:"abv", 5:"ibu", 6:"id", 7:"style", 8:"ounces"})
combined_df

   brewery_id  city  state  beer_name  abv       ibu         id
0          AK    25     25         25   25  0.055640  27.800000
1          AL    10     10         10   10  0.062000  46.100000
2          AR     5      5          5    5  0.052000   7.800000
3          AZ    47     47         47   47  0.056383  17.978723
4          CA   183    183        183  183  0.060749  34.142077
5          CO   265    265        265  265  0.059785  26.132075
6          CT    27     27         27   27  0.061074   9.074074
7          DC     8      8          8    8  0.065625  27.625000
8          DE     2      2          2    2  0.027500  26.000000
9          FL    58     58         58   58  0.057879  29.827586
10         GA    16     16         16   16  0.056375  20.250000
11         HI    27     27         27   27  0.057296  21.777778
12         IA    30     30         30   30  0.059500  27.666667
13         ID    30     30         30   30  0.060700  31.233333
14         IL    91     91         91   91  0.062022  17.769231
15         IN   139    139        139  139  0.062482  28.143885
16         KS    23     23         23   23  0.056087  30.304348
17         KY    21     21         21   21  0.061524  27.142857
18         LA    19     19         19   19  0.055526  17.368421
19         MA    82     82         82   82  0.055683  23.634146
20         MD    21     21         21   21  0.059048  17.523810
21         ME    27     27         27   27  0.057815  13.703704
22         MI   162    162        162  162  0.059074   8.617284
23         MN    55     55         55   55  0.060218  41.781818
24         MO    42     42         42   42  0.050881  22.428571
25         MS    11     11         11   11  0.058909  46.454545
26         MT    40     40         40   40  0.055075  23.975000
27         NC    59     59         59   59  0.055966  22.016949
28         ND     3      3          3    3  0.054000  40.333333
29         NE    25     25         25   25  0.048760  11.040000
30         NH     8      8          8    8  0.052375  12.125000
31         NJ     8      8          8    8  0.057375  46.375000
32         NM    14     14         14   14  0.056714  24.428571
33         NV    11     11         11   11  0.060818  33.818182
34         NY    74     74         74   74  0.056446  28.594595
35         OH    49     49         49   49  0.061959  28.857143
36         OK    19     19         19   19  0.059474  23.578947
37         OR   125    125        125  125  0.057064  33.368000
38         PA   100    100        100  100  0.058340  19.950000
39         RI    27     27         27   27  0.057037  23.370370
40         SC    14     14         14   14  0.060714  10.785714
41         SD     7      7          7    7  0.059286   0.000000
42         TN     6      6          6    6  0.055167  34.666667
43         TX   130    130        130  130  0.057077  27.653846
44         UT    26     26         26   26  0.051885  19.269231
45         VA    40     40         40   40  0.057050  39.700000
46         VT    27     27         27   27  0.060370  26.629630
47         WA    68     68         68   68  0.057794  28.441176
48         WI    87     87         87   87  0.052816  12.816092
49         WV     2      2          2    2  0.062000  57.500000
50         WY    15     15         15   15  0.054867  25.666667