In [6]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

## Importing csv files to dataframes

In [32]:
#Load in beers file from Kaggle
beers_file = "Resources/beers.csv"
beers_df = pd.read_csv(beers_file).fillna(0).rename(columns={"Unnamed: 0":"index", "name":"beer_name"})
beers_df

,index,abv,ibu,id,beer_name,style,brewery_id,ounces
0,0,0.050,0.0,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,0.0,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,0.0,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,0.0,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,0.0,2262,Sex and Candy,American IPA,177,12.0
5,5,0.077,0.0,2261,Black Exodus,Oatmeal Stout,177,12.0
6,6,0.045,0.0,2260,Lake Street Express,American Pale Ale (APA),177,12.0
7,7,0.065,0.0,2259,Foreman,American Porter,177,12.0
8,8,0.055,0.0,2258,Jade,American Pale Ale (APA),177,12.0
9,9,0.086,0.0,2131,Cone Crusher,American Double / Imperial IPA,177,12.0
10,10,0.072,0.0,2099,Sophomoric Saison,Saison / Farmhouse Ale,177,12.0
11,11,0.073,0.0,2098,Regional Ring Of Fire,Saison / Farmhouse Ale,177,12.0
12,12,0.069,0.0,2097,Garce Selé,Saison / Farmhouse Ale,177,12.0
13,13,0.085,0.0,1980,Troll Destroyer,Belgian IPA,177,12.0
14,14,0.061,60.0,1979,Bitter Bitch,American Pale Ale (APA),177,12.0
15,15,0.060,0.0,2318,Ginja Ninja,Cider,154,12.0
16,16,0.060,0.0,2170,Cherried Away,Cider,154,12.0
17,17,0.060,0.0,2169,Rhubarbarian,Cider,154,12.0
18,18,0.060,0.0,1502,BrightCider,Cider,154,12.0
19,19,0.082,0.0,1593,He Said Baltic-Style Porter,Baltic Porter,368,12.0
20,20,0.082,0.0,1592,He Said Belgian-Style Tripel,Tripel,368,12.0
21,21,0.099,92.0,1036,Lower De Boom,American Barleywine,368,8.4
22,22,0.079,45.0,1024,Fireside Chat,Winter Warmer,368,12.0
23,23,0.079,0.0,976,Marooned On Hog Island,American Stout,368,12.0
24,24,0.044,42.0,876,Bitter American,American Pale Ale (APA),368,12.0
25,25,0.049,17.0,802,Hell or High Watermelon Wheat (2009),Fruit / Vegetable Beer,368,12.0
26,26,0.049,17.0,801,Hell or High Watermelon Wheat (2009),Fruit / Vegetable Beer,368,12.0
27,27,0.049,17.0,800,21st Amendment Watermelon Wheat Beer (2006),Fruit / Vegetable Beer,368,12.0
28,28,0.070,70.0,799,21st Amendment IPA (2006),American IPA,368,12.0
29,29,0.070,70.0,797,Brew Free! or Die IPA (2008),American IPA,368,12.0
...,...,...,...,...,...,...,...,...
2380,2380,0.080,31.0,761,P-51 Porter,American Porter,509,16.0
2381,2381,0.055,0.0,2149,#001 Golden Amber Lager,American Amber / Red Lager,211,12.0
2382,2382,0.071,60.0,2148,#002 American I.P.A.,American IPA,211,12.0
2383,2383,0.052,0.0,2147,#003 Brown & Robust Porter,American Porter,211,12.0
2384,2384,0.048,38.0,2146,#004 Session I.P.A.,American IPA,211,12.0
2385,2385,0.059,0.0,2047,Tarasque,Saison / Farmhouse Ale,239,12.0
2386,2386,0.062,61.0,1470,Ananda India Pale Ale,American IPA,239,12.0
2387,2387,0.045,23.0,1469,Tiny Bomb,American Pilsner,239,12.0
2388,2388,0.058,72.0,2627,Train Hopper,American IPA,14,12.0
2389,2389,0.045,0.0,2626,Edward’s Portly Brown,American Brown Ale,14,12.0
2390,2390,0.059,135.0,1676,Troopers Alley IPA,American IPA,344,12.0
2391,2391,0.047,15.0,1468,Wolverine Premium Lager,American Pale Lager,402,12.0
2392,2392,0.050,0.0,822,Woodchuck Amber Hard Cider,Cider,501,12.0
2393,2393,0.065,82.0,2417,4000 Footer IPA,American IPA,109,12.0
2394,2394,0.028,15.0,2306,Summer Brew,American Pilsner,109,12.0
2395,2395,0.065,69.0,1697,Be Hoppy IPA,American IPA,339,16.0
2396,2396,0.069,69.0,2194,Worthy IPA,American IPA,199,12.0
2397,2397,0.045,25.0,1514,Easy Day Kolsch,Kölsch,199,12.0
2398,2398,0.077,30.0,1513,Lights Out Vanilla Cream Extra Stout,American Double / Imperial IPA,199,12.0
2399,2399,0.069,69.0,1512,Worthy IPA (2013),American IPA,199,12.0
2400,2400,0.060,50.0,1511,Worthy Pale,American Pale Ale (APA),199,12.0
2401,2401,0.042,0.0,1345,Patty's Chile Beer,Chile Beer,424,12.0
2402,2402,0.082,0.0,1316,Colorojo Imperial Red Ale,American Strong Ale,424,12.0
2403,2403,0.055,0.0,1045,Wynkoop Pumpkin Ale,Pumpkin Ale,424,12.0
2404,2404,0.075,0.0,1035,Rocky Mountain Oyster Stout,American Stout,424,12.0
2405,2405,0.067,45.0,928,Belgorado,Belgian IPA,424,12.0
2406,2406,0.052,0.0,807,Rail Yard Ale,American Amber / Red Ale,424,12.0
2407,2407,0.055,0.0,620,B3K Black Lager,Schwarzbier,424,12.0
2408,2408,0.055,40.0,145,Silverback Pale Ale,American Pale Ale (APA),424,12.0
2409,2409,0.052,0.0,84,Rail Yard Ale (2009),American Amber / Red Ale,424,12.0

In [33]:
#Load in breweries file from Kaggle
breweries_file = "Resources/breweries.csv"
breweries_df = pd.read_csv(breweries_file).rename(columns={"Unnamed: 0":"brewery_id", "name":"brewery_name"})
breweries_df

     brewery_id                         brewery_name           city state
0             0                   NorthGate Brewing     Minneapolis    MN
1             1            Against the Grain Brewery     Louisville    KY
2             2             Jack's Abby Craft Lagers     Framingham    MA
3             3            Mike Hess Brewing Company      San Diego    CA
4             4              Fort Point Beer Company  San Francisco    CA
5             5                COAST Brewing Company     Charleston    SC
6             6         Great Divide Brewing Company         Denver    CO
7             7                     Tapistry Brewing       Bridgman    MI
8             8                     Big Lake Brewing        Holland    MI
9             9           The Mitten Brewing Company   Grand Rapids    MI
10           10                       Brewery Vivant   Grand Rapids    MI
11           11                     Petoskey Brewing       Petoskey    MI
12           12                   Blackrocks Brewery      Marquette    MI
13           13               Perrin Brewing Company  Comstock Park    MI
14           14          Witch's Hat Brewing Company     South Lyon    MI
15           15             Founders Brewing Company   Grand Rapids    MI
16           16                    Flat 12 Bierwerks   Indianapolis    IN
17           17              Tin Man Brewing Company     Evansville    IN
18           18               Black Acre Brewing Co.   Indianapolis    IN
19           19                    Brew Link Brewing     Plainfield    IN
20           20                   Bare Hands Brewery        Granger    IN
21           21                  Three Pints Brewing   Martinsville    IN
22           22                Four Fathers Brewing      Valparaiso    IN
23           23                 Indiana City Brewing   Indianapolis    IN
24           24                     Burn 'Em Brewing  Michigan City    IN
25           25             Sun King Brewing Company   Indianapolis    IN
26           26                   Evil Czech Brewery      Mishawaka    IN
27           27            450 North Brewing Company       Columbus    IN
28           28               Taxman Brewing Company   Bargersville    IN
29           29                  Cedar Creek Brewery   Seven Points    TX
..          ...                                  ...            ...   ...
528         528            Asheville Brewing Company      Asheville    NC
529         529                   Northwoods Brewpub     Eau Claire    WI
530         530             Buckbean Brewing Company           Reno    NV
531         531                Dolores River Brewery        Dolores    CO
532         532            Flat Rock Brewing Company       Smithton    PA
533         533                Abita Brewing Company  Abita Springs    LA
534         534              Mammoth Brewing Company  Mammoth Lakes    CA
535         535         Harvest Moon Brewing Company           Belt    MT
536         536         Grand Canyon Brewing Company       Williams    AZ
537         537      Lewis and Clark Brewing Company         Helena    MT
538         538               Dundee Brewing Company      Rochester    NY
539         539           Twin Lakes Brewing Company     Greenville    DE
540         540         Mother Earth Brewing Company        Kinston    NC
541         541              Arcadia Brewing Company   Battle Creek    MI
542         542         Angry Minnow Brewing Company        Hayward    WI
543         543       Great Northern Brewing Company      Whitefish    MT
544         544                    Pyramid Breweries        Seattle    WA
545         545            Lancaster Brewing Company      Lancaster    PA
546         546              Upstate Brewing Company         Elmira    NY
547         547  Moat Mountain Smoke House & Brew...   North Conway    NH
548         548             Prescott Brewing Company       Prescott    AZ
549         549             Mogollon Brewing Company      Flagstaff    AZ
550         550           Wind River Brewing Company       Pinedale    WY
551         551                    Silverton Brewery      Silverton    CO
552         552                Mickey Finn's Brewery   Libertyville    IL
553         553                  Covington Brewhouse      Covington    LA
554         554                      Dave's Brewfarm         Wilson    WI
555         555                Ukiah Brewing Company          Ukiah    CA
556         556              Butternuts Beer and Ale  Garrattsville    NY
557         557        Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 4 columns]

## Windows Path

In [10]:
 executable_path = {'executable_path': 'chromedriver.exe'}
 browser = Browser('chrome', **executable_path, headless=False)

## Mac Path

In [5]:
#executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
#browser = Browser('chrome', **executable_path, headless=False)

## Scraping Data from Brewers Association Website

In [11]:
url = 'https://www.brewersassociation.org/statistics-and-data/state-craft-beer-stats/'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [12]:
#State cards with data to scrape
states_cards = soup.find('section', class_='site-content wide')
states = soup.find_all('div', class_='stat-container')


#Set up lists to append into
state_list = []
million_dollars_list = []
breweries_per_capita_list = []
barrels_produced_list = []
gallons_per_adult_list = []

In [34]:
#Loop to scrape data from the brewers association website for each state information card
for state in states:
    state_name = state.find('h1').text.strip()
    state_list.append(state_name)
    million_dollars = state.find('span', class_='total').find('span', class_='count').text.strip()
    million_dollars_list.append(million_dollars)
    breweries_per_capita = state.find('span', class_="bpc").find('span', class_= 'count').text.strip()
    breweries_per_capita_list.append(breweries_per_capita)
    barrels_produced = state.find(id ='production').find('span', class_='total').find('span', class_='count').text.strip()
    barrels_produced_list.append(barrels_produced)
    gallons_per_adult = state.find(id = 'production').find('span', class_='per-capita').find('span', class_='count').text.strip()
    gallons_per_adult_list.append(gallons_per_adult)

In [14]:
#state_list

In [15]:
#million_dollars_list

In [16]:
#breweries_per_capita_list

In [17]:
#barrels_produced_list

In [18]:
#gallons_per_adult_list

In [35]:
#renaming DataFrame columns
brewers_association_data = pd.DataFrame(
    {'state': state_list,
     'millions_sales': million_dollars_list,
     'breweries_per_capita': breweries_per_capita_list,
     'barrels_produced': barrels_produced_list,
     'gallons_per_adult': gallons_per_adult_list
    })

In [20]:
brewers_association_data

,state,millions_sales,breweries_per_capita,barrels_produced,gallons_per_adult
0,Alabama,758,1.1,"71,894",0.6
1,Alaska,326,7.8,"210,063",12.1
2,Arizona,"1,147",2.2,"173,427",1
3,Arkansas,838,1.8,"45,720",0.6
4,California,"9,014",2.9,"3,421,295",3.6
5,Colorado,"3,285",9.2,"1,522,834",11
6,Connecticut,753,3.2,"213,676",2.4
7,Delaware,388,3.7,"298,706",12.5
8,District of Columbia,213,2.4,"33,857",1.9
9,Florida,"3,625",1.7,"1,373,558",2.6
10,Georgia,"1,841",1.1,"449,485",1.8
11,Hawaii,291,1.8,"79,309",2.3
12,Idaho,430,5,"90,498",2.2
13,Illinois,"3,251",2.4,"400,473",1.3
14,Indiana,"1,655",3.7,"259,005",1.6
15,Iowa,"1,007",4,"120,755",1.6
16,Kansas,519,2.2,"47,490",0.7
17,Kentucky,795,1.8,"122,415",1.1
18,Louisiana,852,1.1,"227,096",2
19,Maine,656,11.3,"357,438",10.5
20,Maryland,889,2.1,"294,801",2
21,Massachusetts,"2,076",2.9,"629,463",3.7
22,Michigan,"2,566",4.7,"899,792",3.7
23,Minnesota,"2,118",4.3,"644,077",4.8
24,Mississippi,328,0.7,"31,422",0.4
25,Missouri,"1,268",2.4,"367,871",2.5
26,Montana,496,11.4,"197,167",7.6
27,Nebraska,521,3.6,"54,640",1.2
28,Nevada,520,1.9,"71,869",1
29,New Hampshire,452,7.6,"110,509",3.2
30,New Jersey,"1,612",1.6,"144,283",0.7
31,New Mexico,354,5.5,"135,557",2.7
32,New York,"4,126",2.6,"1,270,157",2.6
33,North Carolina,"2,555",3.7,"1,254,024",5
34,North Dakota,282,2.9,"16,378",0.9
35,Ohio,"3,223",3.3,"1,398,358",4.9
36,Oklahoma,646,1.3,"66,133",0.7
37,Oregon,"2,136",8.8,"1,032,369",9.9
38,Pennsylvania,"6,335",3.6,"3,719,475",11.7
39,Rhode Island,220,3.2,"35,398",1.3
40,South Carolina,796,2.1,"100,242",0.8
41,South Dakota,231,4.4,"18,196",0.9
42,Tennessee,"1,309",1.9,"184,203",1.1
43,Texas,"5,077",1.4,"1,144,563",1.7
44,Utah,441,1.7,"193,055",2.8
45,Vermont,362,13.5,"335,199",21.3
46,Virginia,"1,709",3.7,"405,465",2
47,Washington,"1,947",6.9,"566,949",3.1
48,West Virginia,286,1.9,"18,951",0.4
49,Wisconsin,"2,352",4.3,"1,007,123",7.1
50,Wyoming,193,6.8,"58,966",4.3

## Loading into a sqlite database

In [21]:
engine = create_engine('sqlite:///Resources/brew.sqlite')
Base.metadata.create_all(engine)
session = Session(engine)

In [22]:
# Confirm tables
engine.execute('DROP TABLE IF EXISTS beers')
engine.execute('DROP TABLE IF EXISTS breweries')
engine.execute('DROP TABLE IF EXISTS association')

beers_df.to_sql('beers', con=engine, if_exists='append', index=True)
breweries_df.to_sql('breweries', con=engine, if_exists='append', index=True)
brewers_association_data.to_sql('association', con=engine, if_exists='append', index=True)

In [23]:
#Calculate summary level statisics on DataFrame
csv_df = pd.DataFrame(engine.execute
                            ('SELECT r.state, COUNT(DISTINCT r.brewery_id), COUNT(DISTINCT e.beer_name), '\
                             'COUNT(DISTINCT e.style), COUNT(DISTINCT r.city), '\
                             'AVG(e.abv), AVG(e.ibu) FROM beers e '\
                             'INNER JOIN breweries r ON r.brewery_id=e.brewery_id '\
                             'GROUP BY r.state ORDER BY r.state;'
                            ))

In [24]:
# combined_df = pd.DataFrame(engine.execute('SELECT * FROM brews'))
csv_df = csv_df.rename(columns={0:"state", 1:"brewery_count", 2:"beer_counts",\
    3:"style_counts", 4:"cities", 5:"average_abv", 6:"average_ibu", 7:"style", 8:"ounces"})
csv_df

,state,brewery_count,beer_counts,style_counts,cities,average_abv,average_ibu
0,AK,7,25,14,4,0.055640,27.800000
1,AL,3,10,8,3,0.062000,46.100000
2,AR,2,5,5,2,0.052000,7.800000
3,AZ,11,46,19,8,0.056383,17.978723
4,CA,39,173,46,24,0.060749,34.142077
5,CO,47,252,61,27,0.059785,26.132075
6,CT,8,27,15,7,0.061074,9.074074
7,DC,1,8,8,1,0.065625,27.625000
8,DE,2,2,2,2,0.027500,26.000000
9,FL,15,57,19,11,0.057879,29.827586
10,GA,7,16,9,5,0.056375,20.250000
11,HI,4,22,15,3,0.057296,21.777778
12,IA,5,30,17,5,0.059500,27.666667
13,ID,5,28,19,4,0.060700,31.233333
14,IL,18,87,34,10,0.062022,17.769231
15,IN,22,138,47,19,0.062482,28.143885
16,KS,3,22,15,3,0.056087,30.304348
17,KY,4,19,17,2,0.061524,27.142857
18,LA,5,19,12,5,0.055526,17.368421
19,MA,23,79,33,21,0.055683,23.634146
20,MD,7,20,16,5,0.059048,17.523810
21,ME,9,27,17,4,0.057815,13.703704
22,MI,32,160,46,27,0.059074,8.617284
23,MN,12,55,25,10,0.060218,41.781818
24,MO,9,42,21,7,0.050881,22.428571
25,MS,2,9,8,2,0.058909,46.454545
26,MT,9,39,18,8,0.055075,23.975000
27,NC,19,56,25,14,0.055966,22.016949
28,ND,1,3,3,1,0.054000,40.333333
29,NE,5,23,17,4,0.048760,11.040000
30,NH,3,8,5,3,0.052375,12.125000
31,NJ,3,8,6,3,0.057375,46.375000
32,NM,4,14,10,2,0.056714,24.428571
33,NV,2,11,10,2,0.060818,33.818182
34,NY,16,72,35,12,0.056446,28.594595
35,OH,15,48,24,8,0.061959,28.857143
36,OK,6,19,12,5,0.059474,23.578947
37,OR,29,114,29,12,0.057064,33.368000
38,PA,25,100,42,23,0.058340,19.950000
39,RI,5,26,17,4,0.057037,23.370370
40,SC,4,14,11,4,0.060714,10.785714
41,SD,1,7,7,1,0.059286,0.000000
42,TN,3,6,5,3,0.055167,34.666667
43,TX,28,127,46,16,0.057077,27.653846
44,UT,4,25,17,3,0.051885,19.269231
45,VA,16,38,21,15,0.057050,39.700000
46,VT,10,25,16,7,0.060370,26.629630
47,WA,23,67,23,12,0.057794,28.441176
48,WI,20,78,30,14,0.052816,12.816092
49,WV,1,2,2,1,0.062000,57.500000
50,WY,4,15,10,3,0.054867,25.666667

In [30]:
#Changing abbreviated state names to full state names
csv_df["state"]= (["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","District of Columbia","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"])

In [26]:
engine.execute('DROP TABLE IF EXISTS brews')
csv_df.to_sql('brews', con=engine, if_exists='append', index=True)

In [31]:
#Combine dataframes and calculate summary level statistics
combined_df = pd.DataFrame(engine.execute
                            ('SELECT b.state, b.brewery_count, b.beer_counts, b.style_counts, '\
                             'b.cities, b.average_abv, b.average_ibu,'\
                             'a.breweries_per_capita, a.millions_sales, a.barrels_produced '\
                             'FROM brews b '\
                             'INNER JOIN association a ON b.state=a.state '\
                             'GROUP BY b.state ORDER BY b.state;'
                            ))
combined_df.rename(columns={0:"state", 1:"brewery_count", 2:"beer_counts", 3:"style_counts", 
                            4:"cities", 5:"average_abv", 6:"average_ibu", 7:"breweries_per_capita", 
                            8:"sales_in_millions", 9:"barrels_produced"})

,state,brewery_count,beer_counts,style_counts,cities,average_abv,average_ibu,breweries_per_capita,sales_in_millions,barrels_produced
0,Alabama,7,25,14,4,0.055640,27.800000,1.1,758,"71,894"
1,Alaska,3,10,8,3,0.062000,46.100000,7.8,326,"210,063"
2,Arizona,2,5,5,2,0.052000,7.800000,2.2,"1,147","173,427"
3,Arkansas,11,46,19,8,0.056383,17.978723,1.8,838,"45,720"
4,California,39,173,46,24,0.060749,34.142077,2.9,"9,014","3,421,295"
5,Colorado,47,252,61,27,0.059785,26.132075,9.2,"3,285","1,522,834"
6,Connecticut,8,27,15,7,0.061074,9.074074,3.2,753,"213,676"
7,Delaware,2,2,2,2,0.027500,26.000000,3.7,388,"298,706"
8,District of Columbia,1,8,8,1,0.065625,27.625000,2.4,213,"33,857"
9,Florida,15,57,19,11,0.057879,29.827586,1.7,"3,625","1,373,558"
10,Georgia,7,16,9,5,0.056375,20.250000,1.1,"1,841","449,485"
11,Hawaii,4,22,15,3,0.057296,21.777778,1.8,291,"79,309"
12,Idaho,5,30,17,5,0.059500,27.666667,5,430,"90,498"
13,Illinois,5,28,19,4,0.060700,31.233333,2.4,"3,251","400,473"
14,Indiana,18,87,34,10,0.062022,17.769231,3.7,"1,655","259,005"
15,Iowa,22,138,47,19,0.062482,28.143885,4,"1,007","120,755"
16,Kansas,3,22,15,3,0.056087,30.304348,2.2,519,"47,490"
17,Kentucky,4,19,17,2,0.061524,27.142857,1.8,795,"122,415"
18,Louisiana,5,19,12,5,0.055526,17.368421,1.1,852,"227,096"
19,Maine,23,79,33,21,0.055683,23.634146,11.3,656,"357,438"
20,Maryland,7,20,16,5,0.059048,17.523810,2.1,889,"294,801"
21,Massachusetts,9,27,17,4,0.057815,13.703704,2.9,"2,076","629,463"
22,Michigan,32,160,46,27,0.059074,8.617284,4.7,"2,566","899,792"
23,Minnesota,12,55,25,10,0.060218,41.781818,4.3,"2,118","644,077"
24,Mississippi,9,42,21,7,0.050881,22.428571,0.7,328,"31,422"
25,Missouri,2,9,8,2,0.058909,46.454545,2.4,"1,268","367,871"
26,Montana,9,39,18,8,0.055075,23.975000,11.4,496,"197,167"
27,Nebraska,19,56,25,14,0.055966,22.016949,3.6,521,"54,640"
28,Nevada,1,3,3,1,0.054000,40.333333,1.9,520,"71,869"
29,New Hampshire,5,23,17,4,0.048760,11.040000,7.6,452,"110,509"
30,New Jersey,3,8,5,3,0.052375,12.125000,1.6,"1,612","144,283"
31,New Mexico,3,8,6,3,0.057375,46.375000,5.5,354,"135,557"
32,New York,4,14,10,2,0.056714,24.428571,2.6,"4,126","1,270,157"
33,North Carolina,2,11,10,2,0.060818,33.818182,3.7,"2,555","1,254,024"
34,North Dakota,16,72,35,12,0.056446,28.594595,2.9,282,"16,378"
35,Ohio,15,48,24,8,0.061959,28.857143,3.3,"3,223","1,398,358"
36,Oklahoma,6,19,12,5,0.059474,23.578947,1.3,646,"66,133"
37,Oregon,29,114,29,12,0.057064,33.368000,8.8,"2,136","1,032,369"
38,Pennsylvania,25,100,42,23,0.058340,19.950000,3.6,"6,335","3,719,475"
39,Rhode Island,5,26,17,4,0.057037,23.370370,3.2,220,"35,398"
40,South Carolina,4,14,11,4,0.060714,10.785714,2.1,796,"100,242"
41,South Dakota,1,7,7,1,0.059286,0.000000,4.4,231,"18,196"
42,Tennessee,3,6,5,3,0.055167,34.666667,1.9,"1,309","184,203"
43,Texas,28,127,46,16,0.057077,27.653846,1.4,"5,077","1,144,563"
44,Utah,4,25,17,3,0.051885,19.269231,1.7,441,"193,055"
45,Vermont,16,38,21,15,0.057050,39.700000,13.5,362,"335,199"
46,Virginia,10,25,16,7,0.060370,26.629630,3.7,"1,709","405,465"
47,Washington,23,67,23,12,0.057794,28.441176,6.9,"1,947","566,949"
48,West Virginia,20,78,30,14,0.052816,12.816092,1.9,286,"18,951"
49,Wisconsin,1,2,2,1,0.062000,57.500000,4.3,"2,352","1,007,123"
50,Wyoming,4,15,10,3,0.054867,25.666667,6.8,193,"58,966"

In [28]:
engine.execute('DROP TABLE IF EXISTS combined_craft_data')
combined_df.to_sql('combined_craft_data', con=engine, if_exists='append', index=True)

In [29]:
result = engine.execute('SELECT * FROM combined_craft_data')
print(result)

<sqlalchemy.engine.result.ResultProxy object at 0x0000015D1F1C29B0>